/*******************************************************
Variables
*******************************************************/
$white: #fff;
// Sizes
$scrubber-width-default: 32px;

// Scrubber text
// - off
$slider-text-unchecked: "Off";
$slider-text-unchecked-color: #000;
// - on
$slider-text-checked: "On";
$slider-text-checked-color: #fff;

/*******************************************************
Animation
*******************************************************/

@keyframes popIn {
  0% { transform: scale(1, 1); }
  25% { transform: scale(1.2, 1); }
  50% { transform: scale(1.4, 1); }
  100% { transform: scale(1, 1); }
}

@keyframes popOut {
  0% { transform: scale(1, 1); }
  25% { transform: scale(1.2, 1); }
  50% { transform: scale(1.4, 1); }
  100% { transform: scale(1, 1); }
}

@keyframes splashIn {
  0% { transform: scale(1); opacity: 1; }
  25% { transform: scale(1.1); opacity: .8 }
  50% { transform: scale(1.1); opacity: .9; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes splashOut {
  0% { transform: scale(1); opacity: 1; }
  25% { transform: scale(1); opacity: .8 }
  50% { transform: scale(1); opacity: .9; }
  100% { transform: scale(.5); opacity: 1; }
}

/*******************************************************
Main Slider basics
*******************************************************/

.checkbox-toggle {
  position: relative;
  
  input[type="checkbox"] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0%;
    margin: 0 0;
    cursor: pointer;
    opacity: 0;
    
    
    &:focus + *:before
    {
      outline:solid $input-border-focus 2px;
    }
  }
    
  input + span {
    cursor: pointer;
    user-select: none;
    
    &:before {
      position: absolute;
      left: 0px;
      display: inline-block;
    }
    
    > h4 {
      display: inline;
    }
  }
}

.form-horizontal [class^='checkbox'] {
  input + span:after {
    top: 7px;
  }
}

/*******************************************************
Main Slider
*******************************************************/

.checkbox-slider {
  @extend .checkbox-toggle;
  
  input {
    
    + span {
      // padding-left: $scrubber-width-default * 2;
      
      &:before {
        content: "";
        height: $scrubber-width-default;
        width: $scrubber-width-default * 2;
        background: rgba(100, 100, 100, .2);
        box-shadow: inset 0 0 16px 0 rgba(34, 66, 107, 0.19);
        transition: background .2s ease-out;
      }
      // Off State
      &:after {
        width: $scrubber-width-default;
        height: $scrubber-width-default;
        position: absolute;
        left: 0px;
        top: 0;
        display: block;
        background: $white;
        transition: margin-left 0.1s ease-in-out;
        text-align: center;
        font-weight: bold;
        content: "";
      }
    }
    // On state
    &:checked + span:after {
      margin-left: $scrubber-width-default;
      content: "";
    }
    &:checked + span:before {
      transition: background .2s ease-in;
    }
    
  }
  
}


/*******************************************************
Slider B
*******************************************************/

.checkbox-slider--b {
  @extend .checkbox-slider;
  
  input {
    
    + span {
      // padding-left: $scrubber-width-default * 2;
    }
    
    + span:before {
      border-radius: $scrubber-width-default;
      width: $scrubber-width-default * 2;
      border: 2px solid #fff;
    }
    
    + span:after {
      background: #22426b;
      content: "";
      width: $scrubber-width-default;
      border: solid transparent 2px;
      background-clip: padding-box;
      border-radius: $scrubber-width-default;
    }
    &:not(:checked) + span:after {
      animation: popOut ease-in .3s normal;
    }
    &:checked + span:after {
      content: "";
      margin-left: $scrubber-width-default;
      border: solid transparent 2px;
      background-clip: padding-box;
      animation: popIn ease-in .3s normal;
    }
    
    &:checked + span:before {
      // background: $brand-success;
      background: #fff;
    }
  }
  
}


/*******************************************************
Slider B-flat
*******************************************************/

.checkbox-slider--b-flat {
  @extend .checkbox-slider--b;
  
  input {
    
    + span:before {
      box-shadow: none;
    }
    
  }
  
}

/******************************************************
State Disabled
*******************************************************/

.checkbox-slider--b-flat input:disabled,
.checkbox-slider--b input:disabled {
  
  + span:after {
    
    // border: solid transparent 2px;
  }
  + span:before { box-shadow: 0 0 0 black; }
  + span {
    color: $gray-light;
  }

   &:checked + span:before {
    background: $gray-light;
  }
}


/*******************************************************
Indicators
*******************************************************/
input:checked + .indicator-primary {
  color: $brand-primary;
}

input:checked + .indicator-success {
  color: $brand-success;
}

input:checked + .indicator-info {
  color: $brand-info;
}

input:checked + .indicator-warning {
  color: $brand-warning;
}

input:checked + .indicator-danger {
  color: $brand-danger;
}


/*******************************************************
Variations
*******************************************************/
// primary
.checkbox-slider-primary {



  &.checkbox-slider--b,
  &.checkbox-slider--b-flat {
    input:checked + span:before {
      background: $brand-primary;
    }
  }
}

// info
.checkbox-slider-info {
  
  &.checkbox-slider--b,
  &.checkbox-slider--b-flat {
    input:checked + span:before {
      background: $brand-info;
    }
  }
}

// warning
.checkbox-slider-warning {
  
  &.checkbox-slider--b,
  &.checkbox-slider--b-flat {
    input:checked + span:before {
      background: $brand-warning;
    }
  }
}

// danger
.checkbox-slider-danger {
  
  &.checkbox-slider--b,
  &.checkbox-slider--b-flat {
    input:checked + span:before {
      background: $brand-danger;
    }
  }
}

