// Core variables and mixins
@import "myVariables";
@import "bootstrap/variables";

@import "bootstrap/mixins";
// @import "bootstrap/normalize";
.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.radio label, .checkbox label {
    min-height: 28px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
// @import "bootstrap/forms";
@import "bootstrap/buttons";


// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/progress-bars";


// Components w/ JavaScript
@import "bootstrap/tooltip";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import "_titatoggle";
// @import "fonts";

.container {
	max-width: 1100px;
	margin: 30px auto;
	@media (max-width: 1024px) {
	    max-width: inherit;
	    min-width: 320px;
	    width: 90%;
	    overflow: hidden;
	}
	@media (min-width: 1360px) {
		max-width: 1320px;
	}
}
@media (min-width: 1024px) {
	.navbar-nav>li {
		margin-right: 32px;
		>a {
			line-height: 28px;
			height: 28px;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
@media (min-width: 1360px) {
	.navbar-nav>li {
		margin-right: 18px;
	}
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: #666;
}
.navbar-brand {
	font-size: 26px;
	font-weight: bold;
	color: #22426b;
	padding-top: 4px;
}
.dropdown-menu {
	width: 102px;
	padding: 5px 0;
	top: 38px;
	min-width: 102px;
	border: none;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.175);
	border-radius: 0;
	> li > a {
		padding: 5px 14px;
		color: #22426b;
		font-weight: bold;
		&:hover {
			color: #3498db;
			background-color: transparent;
		}
	}
}
.btn-link {
	color: #22426b;
	font-size: 20px;
}
.navbar-nav > li > a {
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;

	&.btn-link {
		padding-right: 0;
	}
}
@media (min-width: 1024px) {
	.navbar-nav > li.li-reset {
		margin-right: 44px;
		margin-left: 2px;
	}
}
@media (min-width: 1320px) {
	.navbar-nav > li.dropdown {
		margin-right: 17px;
	}
	.navbar-nav > li.li-reset {
	    margin-right: 43px;
	    margin-left: -1px;
	}
}

.progress {
	margin-top: 10px;
	@media (min-width: 1024px) {
		margin-top: 0;
		width: 250px;
	}
	position: relative;
	span {
		position: absolute;
		left: 18px;
		font-weight: bold;
		color: #22426b;
		line-height: 28px;
		height: 28px;
	}
}
.progress-bar {
	text-transform: uppercase;
}
.box {
	max-width: 250px;
	width: 250px;
	overflow: hidden;
	height: 173px;
	background-color: #3498db;
	margin: 5px;
	@media (max-width: 1023px) {
		margin-left: 8px;
		margin-right: 8px;
	}
	h3 {
		font-size: 18px;
		color: #fff;
		font-weight: bold;
	}
}
.row-flex {
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	@media (max-width: 1023px) {
		justify-content: center;
	}
}
.label {
	color: #fff;
	height: 28px;
	line-height: 28px;
	font-weight: bold;
}
.label-playing {
	background-color: #f39c12;
}
.label-closed, .label-locked {
	background-color: #ef5350;
}
.label-unlocked, .label-killed {
	background-color: #00e676;
}
.checkbox-slider--b {
	float: left;
	width: 64px;
	margin: 0 auto 0;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	span:focus, span:active, label:focus, label:active {
		outline: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		&:before, &:after {
			outline: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}
	}
}
*:focus {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	*:before, *:after, &:before, &:after {
		outline: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}
.checkbox-label {
	width: 92px;
	display: inline-block;
	float: left;
	line-height: 32px;
	height: 32px;
	padding: 0 12px;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
}
.btn-rounded {
	line-height: 32px;
	height: 32px;
	padding: 0 35px;
	font-size: 14px;
	text-transform: uppercase;
	color: #22426b;
	background-color: #fff;
	margin: 20px auto 0;
	display: inline-block;
	border-radius: 32px;
	font-weight: bold;
}
.row-checkbox {
	margin-top: 20px;
}

// .navbar-nav {
// 	margin-right: -13px;
// }
// @media (min-width: $grid-float-breakpoint) {
//   .navbar-right {
//   	margin-right: -13px;
//   }
// }
.navbar-toggle .icon-bar {
	background-color: #22426b;
}
@media (max-width: 1023px) {
	.navbar-nav .open .dropdown-menu > li > a {
		text-align: center;
	}
}
.navbar-toggle {
	margin-top: -3px;
}
.text-powered {
	color: #c5d4dc;
	font-size: 13px; 
	margin-top: 5px;
	font-weight: bold;
}
.navbar-header {	
	@media (max-width: 1023px) {
		float: none;
		margin: 0 auto;
		text-align: center;
		padding-bottom: 20px;
		.navbar-brand {
			float: none;
		}
	}
}