
$font-family-base: "Tahoma", sans-serif !default;
$font-size-base: 14px !default;
$btn-border-radius-base: 0;
$navbar-padding-vertical: 0 !default;
$btn-success-bg: #00e676;
$btn-success-border: transparent;

$btn-danger-bg: #ef5350;
$btn-danger-border: transparent;

$btn-primary-bg: #22426b;
$btn-primary-border: transparent;

$progress-border-radius: 0;
$progress-bg: #c5d4dc;
$line-height-computed: 28px;
$grid-float-breakpoint: 1024px;